<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-avatar>
        <img src="../../assets/img/logoEkoot01.png" alt="">
      </ion-avatar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos Generales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col size="4" offset="1">
              <ion-item>
                <ion-label position="floating">Nombre de la Empresa</ion-label>
                <ion-input required type="text" [(ngModel)]="nuevaEmpresa.nombre"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" offset="2">
              <ion-item>
                <ion-label position="floating">RFC</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" offset="1">
              <ion-item>
                <ion-label position="floating">Contacto</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" offset="2">
              <ion-item>
                <ion-label position="floatin">E-mail</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="7" offset="1">
              <ion-item>
                <ion-label position="floating">Descripción de la Empresa</ion-label>
                <ion-textarea></ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col size="2" offset="1">
                <ion-input type="file"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-item>
                <ion-label position="floating">Dirección</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>     
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Redes Sociales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3" offset="1">
            <ion-item>
              <ion-label position="floating">Sitio Web</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3" offset="1">
            <ion-item>
              <ion-label position="floating">Facebook</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3" offset="1">
            <ion-item>
              <ion-label position="floating">Instagram</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>         
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos Ekoot</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="7" offset="1">
            <ion-item>
              <ion-label position="floating">EcoFact</ion-label>
              <ion-textarea></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="2" offset="1">
              <ion-input type="file"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-list>
              <ion-list-header>
                <ion-label>Categorias</ion-label>
              </ion-list-header>
              <ion-item *ngFor="let cat of categorias">
                <ion-label>{{cat.categoria}}</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Impactos
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-row>
              <ion-col size="4" offset="4">
                <img src="../../assets/img/bptxt.jpeg" alt="">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-list>
                <ion-item *ngFor="let acciones of bp">
                  <ion-label>{{acciones.accion}}</ion-label>
                  <ion-checkbox slot="start"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-row>
          </ion-col>
          <ion-col size="4">
              <ion-row>
                <ion-col size="4" offset="4">
                  <img src="../../assets/img/dstxt.jpeg" alt="">
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-list>
                    <ion-item *ngFor="let acciones of ds">
                      <ion-label>{{acciones.accion}}</ion-label>
                      <ion-checkbox slot="start" color="warning"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </ion-row>
            </ion-col>
            <ion-col size="4">
                <ion-row>
                  <ion-col size="4" offset="4">
                    <img src="../../assets/img/rntxt.jpeg" alt="">
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-list>
                      <ion-item *ngFor="let acciones of rn">
                        <ion-label>{{acciones.accion}}</ion-label>
                        <ion-checkbox slot="start" color="success"></ion-checkbox>
                      </ion-item>
                    </ion-list>
                  </ion-row>                
              </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-button expand="full" (click)="guardarEmpresa()">Enviar</ion-button>
  </ion-card>
</ion-content>
